<p id="notice"><%= notice %></p>

<h1>Pizzas</h1>

<table>
  <thead>
    <tr>
      <th>Shape</th>
      <th>Sauce</th>
      <th>Flavor</th>
      <th>Size</th>
      <th>Total prices</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pizzas.each do |pizza| %>
      <tr>
        <td><%= pizza.shape_id %></td>
        <td><%= pizza.sauce_id %></td>
        <td><%= pizza.flavor_id %></td>
        <td><%= pizza.size_id %></td>
        <td><%= pizza.total_prices %></td>
        <td><%= link_to 'Show', pizza %></td>
        <td><%= link_to 'Edit', edit_pizza_path(pizza) %></td>
        <td><%= link_to 'Destroy', pizza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pizza', new_pizza_path %>
